@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('/fonts/AkzidenzGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/AkzidenzGrotesk-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('/fonts/AkzidenzGrotesk-Black.woff2') format('woff2'),
       url('/fonts/AkzidenzGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Prevent text selection globally */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prevent image dragging globally */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: auto;
}

